.wrapper {
  background: radial-gradient(farthest-side, #e0e0d9 96%, transparent) left
      center/3.75rem 3.75rem,
    radial-gradient(farthest-side, #d6eaf8 96%, transparent) bottom left/5rem
      5rem,
    radial-gradient(farthest-side, #88b8e7 96%, transparent) 70rem 2rem/5rem
      5rem,
    radial-gradient(farthest-side, #c2e0c2 96%, transparent) 9rem 3.125rem/ 6.25rem
      6.25rem,
    radial-gradient(farthest-side, #e06666 96%, transparent) 1rem 1rem/3.5rem
      3.5rem,
    radial-gradient(farthest-side, #fff5cc 96%, transparent) bottom right/7rem
      7rem,
    radial-gradient(farthest-side, #daf1da 96%, transparent) 69rem 9rem/ 8rem 8rem;
  background-repeat: no-repeat;

  height: 20em;
  width: 100%;
}

.form-group {
  padding: 0.5em;
}

.submit-login-signin {
  width: 40%;
  margin-left: 30%;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  background-color: #8d2060;
  font-size: 1.5em;
  opacity: 0.9;
  border-radius: 4px;
}
