.payment {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin: auto;
  align-items: center;
  font-size: 1.5em;
  border-radius: 8px;
  margin-top: 1em;
  padding: 0.5rem;
  background-color: pink;
}
.payment:hover:enabled {
  background-color: #c5639e;
}
