* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  justify-content: center;
}

.wrap {
  font-size: 2em; /* vh (% of the viewport height) */
  font-weight: 5;
  text-align: center;
  color: #8d2060;
  width: 30%;
  height: 10%;
  justify-content: center;
  border: 2px double #830981;
  border-radius: 25px;
  top: 100%;
  margin: auto;
  margin-top: 1em;
}
