#nav {
  width: 100%;
  float: left;
  margin: 0 0 0em 0;
  padding: 0;
  list-style: none;
}
#nav li {
  float: left;
}

#nav li a {
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

#nav li a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: white;
}
